<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to( "New Picture", new_picture_path, {class: "special"}) %>

<% @pictures.each do |picture| %>

<p><%= picture.skin_color %>, <%= picture.store_name %></p>
<%= link_to image_tag(picture.store_url), "/pictures/#{picture.id}" %>
<% end %>

